body {
    background-color: lightblue;
    color: rgb(61, 10, 71);
    font-family: Arial;
    margin: 0px;
}

header {
    background-image: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, violet);
    color: lightgreen; 
    padding: 15px;
    font-size: 16pt;
    transition: 300ms;
}

header:hover {
    background-image: linear-gradient(to left, rgb(169, 70, 244), lightblue, blue);
}

header:active {
    color: pink;
    font-size: 25px;
}

footer {
    background-image: linear-gradient(to right, red, orange, yellow, green, lightblue, blue, violet);
    color: lightgreen; 
    padding: 15px; 
    font-size: 16pt; 
    font-style: italic; 
    text-align: right;
    transition: 300ms;
}

footer:hover {
    background-image: linear-gradient(to left, rgb(169, 70, 244), lightblue, blue);
}

    footer:active {
    color: pink;
    font-size: 25px;
}

a {
    color: green;
    text-decoration: none;   
    text-shadow: 3px 3px 3px gray;
    transition: 300ms 1s;
}

a:visited {
color: blueviolet;
background-color: black;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: ease;
}

a:active {
    color: pink;
    background-color: lightgreen;
}
